/AutenticationException.class
/InfoExistenteException.class
/InfoNaoCompativelException.class
/LoginFailedException.class
/InfoNaoExistenteException.class
/InsertException.class
/JaCadastradoException.class
/NotFoundException.class
